### Ejercicios Pandas

### 1.-Regoitsro de temperaturas

In [ ]:
import pandas as pd

In [ ]:
dias_semana = ['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo']
temperaturas = [22.0, 14.2, 24.4, 25.5, 21.6, 23.3, 22.2]
serie_temp = pd.Series(temperaturas, index=dias_semana, name='Temperatura promedio' )
print(serie_temp)
temperatura_promedio = serie_temp.mean()
print( f"\n La temperatura promedio de la semana es: {temperatura_promedio: .2f} C")

### 2.-Inventario de productos

In [ ]:
import pandas as pd

In [ ]:
productos = ['uvas', 'manzana', 'naranja']
stock = [20, 4, 7]
inventario = pd.Series(stock, index=productos, name='Cantidad en stock')
print('Inventario completo:')
print(inventario)
bajo_stock = inventario[inventario < 10]
print("\n Productos bajo en stock: ")
print(bajo_stock)

### 3.-Precios de productos

In [ ]:
import pandas as pd

productos = ['laptp HP', 'Samsung A30', 'Apple phone 16', 'TV', 'Motocicleta']
precio = [23220.20,34000.50,21450.80,20000.90,45890.90]
sin_descuento = pd.Series(precio, index=productos, name='Precio sin descuento')
print('Precios sin descuento: ')
print(sin_descuento)

con_descuento = sin_descuento * 0.85
print("\nPrecios con el 15% de descuento: ")
print(con_descuento)

### 4.-Calificaciones de estudiantes

In [ ]:
import pandas as pd

estudiantes = ['1.-Uriel' , '2.-Manuel', '3.-Javier', '4.-Daniel', '5.-Maria', '6.-Sonia', '7.-Monica', '8.-Cesar', '9.-Juan', '10.-Oscar']
calificaciones = [8,6,8,10,9,5,7,6,8,9]
examen = pd.Series(calificaciones, index=estudiantes, name='Examen 1')

calificacion_max = examen.max()
calificacion_min = examen.min()

print("Calificaciones de los estudiantes:")
print(examen)
print("\nCalificación más alta:", calificacion_max)
print("Calificación más baja:", calificacion_min)

### 5.-Registro de ventas

In [ ]:
import pandas as pd

ventas_diarias = {'Lunes': 1500, 'Martes': 2200, 'Miércoles': 1800, 'Jueves': 2000, 'Viernes': 2500}
ventas = pd.Series(ventas_diarias, name='Ventas Diarias')

total_ventas = ventas.sum()
dia_mayor_ventas = ventas.idxmax()
mayor_venta = ventas.max()

print("Ventas diarias de la tienda:")
print(ventas)
print("\nTotal de ventas de la semana:", total_ventas)
print("Día con mayores ventas:", dia_mayor_ventas, "con", mayor_venta, "unidades vendidas")

### 6.-Comparación de precios

In [ ]:
import pandas as pd

productos = ['Manzana', 'Banana', 'Naranja', 'Uva', 'Pera']
precios_tienda1 = [10, 8, 12, 15, 9]
precios_tienda2 = [9, 9, 11, 14, 10]

tiendas_1 = pd.Series(precios_tienda1, index=productos, name='Tienda 1')
tiendas_2 = pd.Series(precios_tienda2, index=productos, name='Tienda 2')

comparacion = tiendas_1 < tiendas_2
print("\nComparación de precios entre tiendas:")
print(comparacion.replace({True: 'Más barato en Tienda 1', False: 'Más barato en Tienda 2'}))

### 7.-Suma de series

In [ ]:

import pandas as pd 

ingresos = pd.Series({'Lunes': 5000, 'Martes': 7000, 'Miércoles': 6000, 'Jueves': 6500, 'Viernes': 7200}, name='Ingresos')
gastos = pd.Series({'Lunes': 2000, 'Martes': 2500, 'Miércoles': 2300, 'Jueves': 2400, 'Viernes': 2800}, name='Gastos')


beneficio = ingresos - gastos
print("\nBeneficio diario de la empresa:")
print(beneficio)

### 8.-Filtrado de datos

In [ ]:
import pandas as pd

edades = pd.Series([12, 25, 17, 30, 19, 15, 40, 22, 18, 33, 27, 14, 29, 21, 16], name='Edades')
edades_mayores_18 = edades[edades > 18]

print("\nEdades mayores a 18 años:")
print(edades_mayores_18)

### 9.-Aplicacion de funciones

In [ ]:
import pandas as pd
import numpy as np

numeros_aleatorios = pd.Series(np.random.randint(1, 100, size=10), name='Números Aleatorios')
numeros_cuadrados = numeros_aleatorios.apply(lambda x: x**2)

print("\nValores aleatorios:")
print(numeros_aleatorios)
print("\nValores elevados al cuadrado:")
print(numeros_cuadrados)

### 10.-Concatenación de series

In [ ]:
import pandas as pd

ventas_mes1 = pd.Series({'Enero 1': 3000, 'Enero 2': 3200, 'Enero 3': 3100, 'Enero 4': 2900, 'Enero 5': 3300}, name='Ventas Mes 1')
ventas_mes2 = pd.Series({'Febrero 1': 2800, 'Febrero 2': 3400, 'Febrero 3': 3000, 'Febrero 4': 3100, 'Febrero 5': 3500}, name='Ventas Mes 2')

ventas_totales = pd.concat([ventas_mes1, ventas_mes2])

print("\nRegistro completo de ventas de dos meses:")
print(ventas_totales)